body {
  margin: 10px;
}
/* #root{
  min-height: 100%;
  height: 100%;
} */

.product_inner{
  width: 70%;
}
.product_img_inner{
  width: 30%;
}

.info{
  color: rgb(255, 255, 255);
  background-color: rgb(173, 169, 169);
  border-radius: 500px;
  font-size: .8em;
  height: 1.3em;
  width: 1.3em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.opis {
  display: none;
  max-width: 70%;
  background: white;
  border: 4px double black;
  box-shadow: 3px 3px 10px 1px gray;
  padding: 30px;
  z-index: 2;
  color: black;
}

.info:hover .opis {
  display: block;
  font-size: 25px;
  position: absolute;
  left: 40%;
  top:10%;
}

#ip-input {
  width: 25%;
}

html {
  min-height: 100%;
  background: linear-gradient(rgb(255, 255, 255), rgb(182, 235, 235));
}

:root {
  --select-border: #777;
  --select-focus: #61dafb;
  --select-arrow: var(--select-border);
  --select-hover: red;
}

.cart_name {
  width: 80%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart_qty {
  max-width: 30%;
}

img {
  max-width: 100px;
}

.alert::first-line{color: red;}

.alert {
  max-width: 70%;
  text-align: center;
  font-size: x-large;
  padding: 15vh;
  border: 2px solid;
  margin: auto;
  background-color: #cfe7f7;
}

.filters input,
select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}


.main_header_h2{
  font-size: large;
  color: rgb(218, 32, 32);
  margin-bottom: 15px;
}

.main_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  padding: 2em;
}

input {
  padding: 10px;
}

.filter_header {
  width: 25%;
}
.hide {
  display: none !important;
}

button,
.button {
  background-color: #10a7d1;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em 0;
}

.button:hover,
button:hover {
  transition: all 1.2s;
  background-color: #1a5666;
}

.flex {
  display: flex;
  padding: 10px;
}

.filters {
  display: block;
  align-items: left;
  text-align: left;
  margin: 0 20px;
  width: 50%;
}

button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.main_header {
  font-size: x-large;
  padding: 20px;
  text-align: center;
}

.cartflex {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.cart {
  display: block;
  margin: auto, 20px;
  background-color: rgb(31, 29, 29);
  color: white;
  padding: 20px;
  align-items: flex-start;
  width: 40%;
  display: block;
}

.cartproducts {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0px 10px;
  box-shadow: 5px 5px 10px 4px gray;
  border-radius: 10px;
  width: 20%;
  background-color: white;
}

.App {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
